build/
*.log
batches_*/
fit_pngs/
logs*/
phi_fit_plots/
plots*/
png*/
sbatch/
shards/
unfolding*/
*.root
.ipynb_checkpoints/
README.txt
fix_dupl_env.sh
keys_githib
keys_githib.pub
path_to_files/.ipynb_checkpoints/
source/.ipynb_checkpoints/
testing_unfolding/.ipynb_checkpoints/
testing_unfolding/zpt2_compare.pdf
